.cirlce-image {
    border-radius: 100% !important;
}

#img-perfil {
    background-image: url(../assets/perfil.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 0px -26px;
}